@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");   
    src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("../fonts/GothamBold/GothamBold.otf");   
    src: url("../fonts/GothamBold/GothamBold.otf?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/fonts/GothamBold/GothamBold.ttf") format("ttf");
    /* font-style: normal;
    font-weight: normal; */
}
